-
  slides = [
    {
      title: 'Bespoke made, quality assured',
      caption: 'Limited Editions',
      descr: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.'
      ],
      img: 'fade/fade_1'
    },
    {
      title: 'Bespoke made, quality assured',
      caption: 'Limited Editions',
      descr: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.'
      ],
      img: 'fade/fade_1'
    },
    {
      title: 'Bespoke made, quality assured',
      caption: 'Limited Editions',
      descr: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.'
      ],
      img: 'fade/fade_1'
    },

  ]

.fade
  .fade__slider.fadeSlider
    each slide in slides
      .fade__slide
        .section__wrap.section__wrap--cl
          .desc.desc--dark.desc--class
            h3.desc__title.desc__title--light.desc__title--shot= slide.title
          .desc.desc--dark.desc--class
            .desc__wrap_text
              h4.desc__caption= slide.caption
              each text in slide.descr
                p.desc__text.desc__text--light= text
          +picture({
            img: slide.img,
            media: 480,
            img_mob: `${slide.img}_mob`,
            class: 'section_bg section_bg--cl',
            img_class: 'section_bg__img'
          })
  .fade__nav
    button.fade__nav_btn.fadeSliderSliderArrowNext
      +icon('arr_left_2', 'icon--size_mod')
    button.fade__nav_btn.fadeSliderSliderArrowPrev
      +icon('arr_right_2', 'icon--size_mod')
