.images
  - var n = 0;
  .images__slider.imagesOnScroll
    while n < 6
      .images__slide
        +picture({
          img: `images_on_scroll/0${n + 1}`,
          class: 'images__pic',
          img_class: 'images__img',
          alt: n
        })
      - n += 1
  .images_bottom
    .images_bottom__scrollbar.imagesOnScrollScrollbar
      .images_bottom__drag.imagesOnScrollDrag
