.accounts {
  position: relative;

  width: 100%;
  height: 100%;
}

.accounts__slider {
  height: 100%;
}

.accounts__slide {
  position: relative;

  height: 100%;
}

.accounts__pic {
  width: 100%;
  height: 100%;
}

.accounts__img {
  @extend %cover_img;
}

.accounts__slide_in {
  @extend %global_flex_block_column_nowrap_center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include bp($point_2, min) {
    padding: 5rem;
  }

  @include bp($point_3, $point_6) {
    padding: 11.6rem;
  }

  @include bp($point_6 - 1) {
    padding: 15.4rem;
  }
}

.accoutts__caption {

}

.accounts__title {
  font-weight: 500;
  color: $white;

  @include bp($point_2, min) {
    margin-bottom: 4rem;

    font-size: 4rem;
    line-height: 1.25;
  }

  @include bp($point_3, $point_6) {
    margin-bottom: 10.6rem;

    font-size: 8.2rem;
    line-height: 1.27;
  }

  @include bp($point_6 - 1) {
    margin-bottom: 15.4rem;

    font-size: 13.4rem;
    line-height: 1.38;
  }
}

.accounts__text {

  font-weight: 500;

  color: $white;

  @include bp($point_2, min) {
    width: 31.2rem;

    font-size: 1.4rem;
  }

  @include bp($point_6, min) {
    line-height: 1.7;
  }

  @include bp($point_3, $point_6) {
    width: 78.8rem;

    font-size: 3.2rem;
  }

  @include bp($point_6 - 1) {
    width: 100%;

    font-size: 5.6rem;
    line-height: 1.8;
  }
}

.accounts__scrollbar {
  position: absolute;

  left: 63%;
  right: 5%;
  bottom: 25%;

  height: 0;

  z-index: 200;

  @include bp($point_3) {
    display: none;
  }
}

.accounts__drag {
  @extend %global_flex_block_row_nowrap_flex-start_center;

  position: relative;
  left: 0;
  top: 0;

  @include bp($point_3) {
    display: none;
  }
}

.accounts__nav_btn {
  flex-shrink: 0;

  width: 2rem;
  height: 2rem;

  padding: .6rem;

  border-radius: 50%;

  // pointer-events: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: .6rem;
  }

  &:not(:first-child) {
    margin-left: .6rem;
  }
}
