.btn {
  @extend %blue_btn_1;

  padding: 1rem 2rem;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  color: $white_1;

  background: #657DE9;
  border-radius: 10rem;
}

.btn--fixed {
  position: fixed;
}
