.btn {
  @extend %blue_btn_1;

  font-weight: 500;
  color: $white_1;

  background: #657DE9;
  border-radius: 10rem;

  @include bp($point_2, min) {
    padding: 1rem 2rem;

    font-size: 1.4rem;
  }

  @include bp($point_6, min) {
    line-height: 1.7;
  }

  @include bp($point_3, $point_6) {
    padding: 2.3rem 4.6rem;

    font-size: 2.76rem;
  }

  @include bp($point_6 - 1) {
    padding: 5.2rem 10.2rem;

    font-size: 5.6rem;
    line-height: 1.8;
  }
}
.btn--fixed {
  @extend %transition_all;

  position: fixed;
  z-index: 100;

  @include bp($point_2, min) {
    left: 5rem;
    bottom: 10rem;
  }

  @include bp($point_3, $point_6) {
    left: 6rem;
    bottom: 6rem;
  }

  @include bp($point_6 - 1) {
    left: 15.4rem;
    bottom: 50%;

    margin-bottom: -17.4rem;
  }
}

.btn--hiden {
  left: -100%
}
