.desc {
  @extend %global_flex_block_column_wrap_flex-start;


  background-color: $white;

  &:not(:first-of-type) {
    order: 3;
  }

  @include bp($point_2, min) {
    flex: 1 0 64rem;
  }

  @include bp($point_6, min) {
    padding: 5rem;
  }

  @include bp($point_3) {
    &:not(:first-of-type) {
      order: 0;
    }
  }

  @include bp($point_3, $point_6) {
    flex: 1 0 80.58rem;

    padding: 11.5rem;
  }

  @include bp($point_6 - 1) {

    padding: 35.8rem 15.4rem 30.8rem;

    &:first-of-type {
      flex-grow: 3;
    }

    &:not(:first-of-type) {
      flex-grow: 1;
    }
  }
}

.desc--dark {
  background-color: $black_2;
}

.desc--color {
  background-color: $white_1;
}

.desc--rp {

  @include bp($point_2, min) {
    padding-right: 28rem;
  }

  @include bp($point_3, $point_6) {
    padding-right: 11.6rem;
  }
}

.desc--an {
  align-content: normal;
}

.desc--cl {

  @include bp($point_3) {
    &:first-of-type {
      padding-bottom: 0;
    }
    &:not(:first-of-type) {
      padding-top: 0;
    }
  }

  @include bp($point_3, $point_6) {
    width: calc(100% - 80.58rem);
    height: 50%;
  }
}

.desc__title {
  display: block;

  font-weight: 500;


  margin: auto 0;

  @include bp($point_2, min) {
    max-width: 60rem;

    font-size: 6rem;
    line-height: 1.25;
  }

  @include bp($point_3, $point_6) {
    max-width: none;

    font-size: 9.67rem;
    line-height: 1.23;

    .desc--cl & {
      margin-bottom: 0;
    }
  }

  @include bp($point_6 - 1) {
    font-size: 15.4rem;
    line-height: 1.33;
  }

  sup {
    position: relative;
    top: -0.5em;
    padding-left: .5em;
    font-size: .2em;
    font-weight: 700;
    line-height: 1.7;
  }
}

.desc__title--shot{

  @include bp($point_2, min){
    max-width: 50rem;
  }

  @include bp($point_3, $point_6) {
    max-width: 87rem;
  }
}

.desc__text {
  font-weight: 500;
  line-height: 1.7;

  @include bp($point_2, min) {
    margin-bottom: 1.6rem;

    font-size: 1.4rem;
  }

  @include bp($point_3, $point_6) {
    margin-bottom: 4.8rem;

    font-size: 2.8rem;
  }

  @include bp($point_6 - 1) {
    margin-bottom: 8.2rem;
    font-size: 5.6em;
  }
}

.desc__title--light,
.desc__text--light {
  color: $white;
}

.desc__wrap_text {
  margin: auto 0 0 2.2rem;

  @include bp($point_2, min) {
    width: 46rem;
  }

  @include bp($point_3, $point_6) {
    width: 82rem;
  }
}

.desc__wrap_text--right {
 align-self: end;
}

.desc__button {
  align-self: end;

  @include bp($point_3, $point_6) {
    order: 1;
    margin-top: auto;
  }
}
