.images_section {
  @extend %global_flex_block_column_nowrap_center_stretch;

  @include bp($point_2, min) {
    padding-left: 12.8rem;
  }
  @include bp($point_3, $point_6) {
    padding-left: 11.6rem;
  }
}

.images {
  margin: auto 0;

  @include bp($point_2, min) {
    max-height: 64.4rem;
  }
}

.images__slider {
  height: 100%;
}

.images__slide {

    &:not(bar){
      width: auto;
    }

  @include bp($point_2, min) {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  @include bp($point_3, $point_6) {
    &:not(:last-child) {
      margin-right: 1.4rem;
    }
  }
}

.images__pic {
  height: 100%;
}

.images__img {
  // @extend %cover_img;
  @extend %contain_img;

  width: auto;
}

.images_bottom {
  @include bp($point_2, min) {
    padding: 6rem 12.8rem 0 0rem;
  }

  @include bp($point_3, $point_6) {
    padding: 7.8rem 11.6rem 0 0;
  }
}
.images_bottom__scrollbar {
  @include bp($point_2, min) {
    height: 5px;

    background-color: $grey_2;
  }
}

.images_bottom__drag {
  height: 5px;

  background-color: $color_link_base;

  cursor: pointer;

  &:hover {
    background-color: darken($color_link_base, 10%);
  }
}
