//---------------------------------------------sections
.section {
	position: relative;

	width: 100%;
	height: 100vh;

	font-size: 1rem;
}

.section--dark {
	background-color: $black_2;
}

.section__wrap {
	@extend %global_flex_block_row_nowrap_flex-start_stretch;

	width: 100%;
	height: 100%;
}

.section__wrap--cl {
	@include bp($point_3, $point_6){
		flex-direction: column;
		flex-wrap: wrap;
	}
}

.section_bg {
	display: block;

	flex: 0 1 64rem;

	width: 64rem;
	height: 100%;

	font-size: 0;

	@include bp($point_3, $point_6) {
		flex-basis: 80.58rem;

		width: 80.58rem;
	}
}

.section_bg--cl {
	@include bp($point_3, $point_6) {
		flex-grow: 1;
	}
}

.section_bg__img {
	@extend %cover_img;
}
