extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Index'}
block content_block
	section.section
		button.btn.btn--fixed.btnScroll
		.section__wrap
			.desc
				a.logo__link(href="#")
					img.logo__img(src=`${assetsImage}/logo_black.svg`, alt="F")
				h2.desc__title!='Where imagination & <br>creativity come to life'
			+picture({
				jpeg: true,
				img: 'hero',
				class: 'section_bg',
				img_class: 'section_bg__img'
			})
