.footer {
	width: 100%;
	min-height: var(--height-footer);
	flex: 0 0 auto;

	color: $white;

	background-color: $black_2;

	will-change: transform;

	@include bp($point_2, min) {
		padding: 18rem 5rem 5rem;
	}

	@include bp($point_3, $point_6) {
		--height-footer: 113.2rem;

		padding: 15.4rem 11.6rem 11.6rem;
	}

	@include bp($point_6 - 1) {
		padding: 51.2rem 14.4rem 30.8rem 15.8rem;
	}
}

.footer__row {
	height: 100%;

	@include bp($point_6, min) {
		@include flex_block(row, nowrap, space-between, stretch);
	}
	@include bp($point_6 - 1) {
		@include flex_block(column, nowrap, space_between, flex-start);
	}
}

.info {
	@extend %global_flex_block_column_nowrap_flex-start;

	@include bp($point_2, min) {
		width: 44rem;
	}

	@include bp($point_3, $point_6) {
		width: 115rem;
	}

	@include bp($point_6 - 1) {
		width: 128rem;
		margin-bottom: 25.6rem;
	}
}

.info__title {

	font-weight: 500;

	@include bp($point_2, min) {
		margin-bottom: 23rem;

		font-size: 5rem;
	}

	@include bp($point_6, min) {
		line-height: 1.2;
	}

	@include bp($point_3, $point_6) {
		margin-bottom: 16.6rem;

		font-size: 8.2rem;
	}

	@include bp($point_6 - 1) {
		margin-bottom: 48rem;

		font-size: 13.4rem;
		line-height: 1.4;
	}
}

.info__text {
	font-weight: 500;

	@include bp($point_2, min) {
		font-size: 1.4rem;
		line-height: 1.4;
	}

	@include bp($point_3, $point_6) {
		padding-right: 30rem;

		font-size: 2.8rem;
		line-height: 1.7;
	}

	@include bp($point_6 - 1) {
		padding-right: 16.4rem;

		font-size: 5.6rem;
		line-height: 1.8;
	}
}

.feedback {
	@extend %global_flex_block_column_nowrap_flex-end;
}

.feedback__row {
	@extend %global_flex_block_row_nowrap_flex-start_flex-end;
}

.feedback__email {

	@include bp($point_2, min) {
		margin-right: 6.3rem;
	}

	@include bp($point_3, $point_6) {
		margin-right: 7.2rem;
	}

	@include bp($point_6 - 1) {
		margin-right: 10.2rem;
	}
}

.feedback__btn {

}

.feedback_email__input {
	@extend %form_el_default;



	background-color: transparent;
	border-bottom: 1px solid rgba($white, .3);

	@include bp($point_2, min) {
		width: 36.4rem;
	}

	@include bp($point_3, $point_6) {
		width: 57rem;
		height: auto;

		padding: 2.3rem 0;

		font-size: 2.8rem;
	}

	@include bp($point_6 - 1) {
		width: 111.2rem;

		padding: 8.2rem 0;

		font-size: 5.6rem;
	}
}

.feedback_btn__input {
	@extend %form_el_default;
	@extend .btn;

	height: auto;
}
