.footer {
	width: 100%;
	min-height: var(--height-footer);
	height: 1rem;
	flex: 0 0 auto;

	color: $white;

	background-color: $black_2;

	will-change: transform;

	@include bp($point_2, min) {
		padding: 5rem;
	}

	@include bp($point_3, $point_6) {
		--height-footer: 113.2rem;

		padding: 11.6rem;
	}
}

.footer__row {
	@extend %global_flex_block_row_nowrap_space_between_stretch;

	height: 100%;
}

.info {
	@extend %global_flex_block_column_nowrap_flex-start;

	@include bp($point_2, min) {
		width: 44rem;
	}

	@include bp($point_3, $point_6) {
		width: 115rem;
	}
}

.info__title {
	margin: auto 0;

	font-weight: 500;
	line-height: 1.2;

	@include bp($point_2, min) {
		font-size: 5rem;
	}

	@include bp($point_3, $point_6) {
		font-size: 8.2rem;
	}
}

.info__text {
	margin-top: auto;

	font-weight: 500;

	@include bp($point_2, min) {
		font-size: 1.4rem;
		line-height: 1.4;
	}

	@include bp($point_3, $point_6) {
		padding-right: 30rem;

		font-size: 2.8rem;
		line-height: 1.7;
	}
}

.feedback {
	@extend %global_flex_block_column_nowrap_flex-end;
}

.feedback__row {
	@extend %global_flex_block_row_nowrap_flex-start_flex-end;
}

.feedback__email {

	@include bp($point_2, min) {
		margin-right: 6.3rem;
	}

	@include bp($point_3, $point_6) {
		margin-right: 7.2rem;
	}
}

.feedback__btn {

}

.feedback_email__input {
	@extend %form_el_default;



	background-color: transparent;
	border-bottom: 1px solid rgba($white, .3);

	@include bp($point_2, min) {
		width: 36.4rem;
	}

	@include bp($point_3, $point_6) {
		width: 57rem;
		height: auto;

		padding: 2.3rem 0;

		font-size: 2.8rem;
	}
}

.feedback_btn__input {
	@extend %form_el_default;
	@extend .btn;

	height: auto;
}
